Core.DALC/QOfreces.WPF/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50194/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50194/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Puntos_InputMessage">
    <wsdl:part name="parameters" element="tns:Puntos" />
  </wsdl:message>
  <wsdl:message name="IService1_Puntos_OutputMessage">
    <wsdl:part name="parameters" element="tns:PuntosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ComprobarValoracion_InputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarValoracion" />
  </wsdl:message>
  <wsdl:message name="IService1_ComprobarValoracion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComprobarValoracionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValorarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:ValorarOferta" />
  </wsdl:message>
  <wsdl:message name="IService1_ValorarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValorarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearUsuarioWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioWeb" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearUsuarioWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioWebResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarComunas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarComunas" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarComunas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarComunasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarRegiones_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegiones" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarRegiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarWeb" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarWebResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarUsuarioWPF_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioWPF" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarUsuarioWPF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioWPFResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerId_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerId" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllProductos" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllRegiones_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllRegiones" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllRegiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllRegionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearRubro_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearRubro" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearRubro_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearRubroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarRubro_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRubro" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarRubro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRubroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarRubro_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRubro" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarRubro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRubroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllRubros_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllRubros" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllRubros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllRubrosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPerfil" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPerfil" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPerfil" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllPerfil" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllCategoria" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSucursal" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSucursal" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSucursal" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllSucursal" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllComuna_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllComuna" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllComuna_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllComunaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertasActivoWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasActivoWeb" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertasActivoWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasActivoWebResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertasActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasActivo" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertasActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasActivoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertasDesactivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasDesactivo" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertasDesactivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasDesactivoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertas_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertas" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertasDia_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasDia" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllOfertasDia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllOfertasDiaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearDesc_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearDesc" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearDesc_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearDescResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarDesc_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDesc" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarDesc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDescResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarDesc_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDesc" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarDesc_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDescResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearRetail_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearRetail" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearRetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearRetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarRetail_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRetail" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarRetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarRetail_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRetail" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarRetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllRetail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllRetail" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAllRetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllRetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Filtrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Filtrar" />
  </wsdl:message>
  <wsdl:message name="IService1_Filtrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TraerOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerOferta" />
  </wsdl:message>
  <wsdl:message name="IService1_TraerOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearOferta" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarOferta" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarOferta" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerOfertaId_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerOfertaId" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerOfertaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerOfertaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OfertaParametro_InputMessage">
    <wsdl:part name="parameters" element="tns:OfertaParametro" />
  </wsdl:message>
  <wsdl:message name="IService1_OfertaParametro_OutputMessage">
    <wsdl:part name="parameters" element="tns:OfertaParametroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PublicarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:PublicarOferta" />
  </wsdl:message>
  <wsdl:message name="IService1_PublicarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublicarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DesPublicarOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:DesPublicarOferta" />
  </wsdl:message>
  <wsdl:message name="IService1_DesPublicarOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesPublicarOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:Data" />
  </wsdl:message>
  <wsdl:message name="IService1_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearProductoHasOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProductoHasOferta" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearProductoHasOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProductoHasOfertaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Puntos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Puntos" message="tns:IService1_Puntos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PuntosResponse" message="tns:IService1_Puntos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarValoracion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ComprobarValoracion" message="tns:IService1_ComprobarValoracion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ComprobarValoracionResponse" message="tns:IService1_ComprobarValoracion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValorarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValorarOferta" message="tns:IService1_ValorarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValorarOfertaResponse" message="tns:IService1_ValorarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuarioWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearUsuarioWeb" message="tns:IService1_CrearUsuarioWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearUsuarioWebResponse" message="tns:IService1_CrearUsuarioWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActivarUsuario" message="tns:IService1_ActivarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActivarUsuarioResponse" message="tns:IService1_ActivarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarComunas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarComunas" message="tns:IService1_ListarComunas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarComunasResponse" message="tns:IService1_ListarComunas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRegiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarRegiones" message="tns:IService1_ListarRegiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarRegionesResponse" message="tns:IService1_ListarRegiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarWeb" message="tns:IService1_ValidarWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarWebResponse" message="tns:IService1_ValidarWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuarioWPF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarUsuarioWPF" message="tns:IService1_ValidarUsuarioWPF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarUsuarioWPFResponse" message="tns:IService1_ValidarUsuarioWPF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LeerUsuario" message="tns:IService1_LeerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LeerUsuarioResponse" message="tns:IService1_LeerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearUsuario" message="tns:IService1_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearUsuarioResponse" message="tns:IService1_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarUsuario" message="tns:IService1_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarUsuarioResponse" message="tns:IService1_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarUsuario" message="tns:IService1_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarUsuarioResponse" message="tns:IService1_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LeerId" message="tns:IService1_LeerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LeerIdResponse" message="tns:IService1_LeerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAll" message="tns:IService1_ReadAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllResponse" message="tns:IService1_ReadAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllProductos" message="tns:IService1_ReadAllProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllProductosResponse" message="tns:IService1_ReadAllProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllRegiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllRegiones" message="tns:IService1_ReadAllRegiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllRegionesResponse" message="tns:IService1_ReadAllRegiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearRubro">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearRubro" message="tns:IService1_CrearRubro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearRubroResponse" message="tns:IService1_CrearRubro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRubro">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarRubro" message="tns:IService1_ActualizarRubro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarRubroResponse" message="tns:IService1_ActualizarRubro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRubro">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarRubro" message="tns:IService1_EliminarRubro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarRubroResponse" message="tns:IService1_EliminarRubro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllRubros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllRubros" message="tns:IService1_ReadAllRubros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllRubrosResponse" message="tns:IService1_ReadAllRubros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearPerfil" message="tns:IService1_CrearPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearPerfilResponse" message="tns:IService1_CrearPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarPerfil" message="tns:IService1_ActualizarPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarPerfilResponse" message="tns:IService1_ActualizarPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarPerfil" message="tns:IService1_EliminarPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarPerfilResponse" message="tns:IService1_EliminarPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllPerfil" message="tns:IService1_ReadAllPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllPerfilResponse" message="tns:IService1_ReadAllPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearCategoria" message="tns:IService1_CrearCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearCategoriaResponse" message="tns:IService1_CrearCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarCategoria" message="tns:IService1_ActualizarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarCategoriaResponse" message="tns:IService1_ActualizarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarCategoria" message="tns:IService1_EliminarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarCategoriaResponse" message="tns:IService1_EliminarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllCategoria" message="tns:IService1_ReadAllCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllCategoriaResponse" message="tns:IService1_ReadAllCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearSucursal" message="tns:IService1_CrearSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearSucursalResponse" message="tns:IService1_CrearSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarSucursal" message="tns:IService1_ActualizarSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarSucursalResponse" message="tns:IService1_ActualizarSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarSucursal" message="tns:IService1_EliminarSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarSucursalResponse" message="tns:IService1_EliminarSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllSucursal" message="tns:IService1_ReadAllSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllSucursalResponse" message="tns:IService1_ReadAllSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllComuna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllComuna" message="tns:IService1_ReadAllComuna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllComunaResponse" message="tns:IService1_ReadAllComuna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertasActivoWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasActivoWeb" message="tns:IService1_ReadAllOfertasActivoWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasActivoWebResponse" message="tns:IService1_ReadAllOfertasActivoWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertasActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasActivo" message="tns:IService1_ReadAllOfertasActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasActivoResponse" message="tns:IService1_ReadAllOfertasActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertasDesactivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasDesactivo" message="tns:IService1_ReadAllOfertasDesactivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasDesactivoResponse" message="tns:IService1_ReadAllOfertasDesactivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllOfertas" message="tns:IService1_ReadAllOfertas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasResponse" message="tns:IService1_ReadAllOfertas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertasDia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasDia" message="tns:IService1_ReadAllOfertasDia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllOfertasDiaResponse" message="tns:IService1_ReadAllOfertasDia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearDesc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearDesc" message="tns:IService1_CrearDesc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearDescResponse" message="tns:IService1_CrearDesc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDesc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarDesc" message="tns:IService1_ActualizarDesc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarDescResponse" message="tns:IService1_ActualizarDesc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDesc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarDesc" message="tns:IService1_EliminarDesc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarDescResponse" message="tns:IService1_EliminarDesc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearRetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearRetail" message="tns:IService1_CrearRetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearRetailResponse" message="tns:IService1_CrearRetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarRetail" message="tns:IService1_ActualizarRetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarRetailResponse" message="tns:IService1_ActualizarRetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarRetail" message="tns:IService1_EliminarRetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarRetailResponse" message="tns:IService1_EliminarRetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllRetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAllRetail" message="tns:IService1_ReadAllRetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllRetailResponse" message="tns:IService1_ReadAllRetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearProducto" message="tns:IService1_CrearProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearProductoResponse" message="tns:IService1_CrearProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarProducto" message="tns:IService1_ActualizarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarProductoResponse" message="tns:IService1_ActualizarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarProducto" message="tns:IService1_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarProductoResponse" message="tns:IService1_EliminarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Filtrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Filtrar" message="tns:IService1_Filtrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FiltrarResponse" message="tns:IService1_Filtrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TraerOferta" message="tns:IService1_TraerOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TraerOfertaResponse" message="tns:IService1_TraerOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearOferta" message="tns:IService1_CrearOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearOfertaResponse" message="tns:IService1_CrearOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarOferta" message="tns:IService1_ActualizarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarOfertaResponse" message="tns:IService1_ActualizarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarOferta" message="tns:IService1_EliminarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarOfertaResponse" message="tns:IService1_EliminarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerOfertaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LeerOfertaId" message="tns:IService1_LeerOfertaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LeerOfertaIdResponse" message="tns:IService1_LeerOfertaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OfertaParametro">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OfertaParametro" message="tns:IService1_OfertaParametro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OfertaParametroResponse" message="tns:IService1_OfertaParametro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublicarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PublicarOferta" message="tns:IService1_PublicarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PublicarOfertaResponse" message="tns:IService1_PublicarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesPublicarOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DesPublicarOferta" message="tns:IService1_DesPublicarOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DesPublicarOfertaResponse" message="tns:IService1_DesPublicarOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Data" message="tns:IService1_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DataResponse" message="tns:IService1_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearProductoHasOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearProductoHasOferta" message="tns:IService1_CrearProductoHasOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearProductoHasOfertaResponse" message="tns:IService1_CrearProductoHasOferta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Puntos">
      <soap:operation soapAction="http://tempuri.org/IService1/Puntos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarValoracion">
      <soap:operation soapAction="http://tempuri.org/IService1/ComprobarValoracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValorarOferta">
      <soap:operation soapAction="http://tempuri.org/IService1/ValorarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuarioWeb">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearUsuarioWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ActivarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarComunas">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarComunas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRegiones">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarRegiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarWeb">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuarioWPF">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarUsuarioWPF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/LeerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerId">
      <soap:operation soapAction="http://tempuri.org/IService1/LeerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllProductos">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllRegiones">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllRegiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearRubro">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearRubro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRubro">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarRubro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRubro">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarRubro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllRubros">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllRubros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPerfil">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPerfil">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPerfil">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllPerfil">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllCategoria">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearSucursal">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSucursal">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSucursal">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllSucursal">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllComuna">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllComuna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertasActivoWeb">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllOfertasActivoWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertasActivo">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllOfertasActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertasDesactivo">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllOfertasDesactivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertas">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllOfertas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllOfertasDia">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllOfertasDia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearDesc">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDesc">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDesc">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearRetail">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearRetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRetail">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarRetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRetail">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarRetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllRetail">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAllRetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Filtrar">
      <soap:operation soapAction="http://tempuri.org/IService1/Filtrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerOferta">
      <soap:operation soapAction="http://tempuri.org/IService1/TraerOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearOferta">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarOferta">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarOferta">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerOfertaId">
      <soap:operation soapAction="http://tempuri.org/IService1/LeerOfertaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OfertaParametro">
      <soap:operation soapAction="http://tempuri.org/IService1/OfertaParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicarOferta">
      <soap:operation soapAction="http://tempuri.org/IService1/PublicarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesPublicarOferta">
      <soap:operation soapAction="http://tempuri.org/IService1/DesPublicarOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Data">
      <soap:operation soapAction="http://tempuri.org/IService1/Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearProductoHasOferta">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearProductoHasOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50194/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>