Core.DALC/QOfreces.WPF/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListarRegiones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRegionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarRegionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarWebResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioWPF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioWPFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarUsuarioWPFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LeerUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LeerIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadAllProductosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRubro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRubroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearRubroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRubro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRubroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarRubroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRubro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRubroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRubroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllRubros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllRubrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadAllRubrosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearCategoriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarCategoriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCategoriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllCategoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadAllCategoriaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearSucursalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSucursalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarSucursalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllSucursal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadAllSucursalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllOfertasActivo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllOfertasActivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadAllOfertasActivoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllOfertasDesactivo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllOfertasDesactivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadAllOfertasDesactivoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllOfertas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllOfertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadAllOfertasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearDescResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarDescResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDescResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearRetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarRetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraerOfertaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearOfertaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarOfertaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarOfertaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>