Core.DALC/QOfreces.WPF/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50194/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50194/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ValidarUsuarioWPF_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioWPF" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarUsuarioWPF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioWPFResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerId_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerId" />
  </wsdl:message>
  <wsdl:message name="IService1_LeerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ValidarUsuarioWPF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarUsuarioWPF" message="tns:IService1_ValidarUsuarioWPF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarUsuarioWPFResponse" message="tns:IService1_ValidarUsuarioWPF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LeerUsuario" message="tns:IService1_LeerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LeerUsuarioResponse" message="tns:IService1_LeerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearUsuario" message="tns:IService1_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearUsuarioResponse" message="tns:IService1_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarUsuario" message="tns:IService1_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarUsuarioResponse" message="tns:IService1_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarUsuario" message="tns:IService1_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarUsuarioResponse" message="tns:IService1_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LeerId" message="tns:IService1_LeerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LeerIdResponse" message="tns:IService1_LeerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadAll" message="tns:IService1_ReadAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadAllResponse" message="tns:IService1_ReadAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuarioWPF">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarUsuarioWPF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/LeerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerId">
      <soap:operation soapAction="http://tempuri.org/IService1/LeerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50194/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>